
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="clientinfo">Test Controller Method</a>
    </p>

    <button id="button">JS Client</button>

    <p>Clients: <span id="clientspan"></span></p>

    <script>
        let btn = document.querySelector("#button");
        let xhr = new XMLHttpRequest();

        btn.addEventListener("click", () => {
            xhr.open("GET", "/json/clientinfo");
            xhr.onload = () => {

                let response = JSON.parse(xhr.response);

                response.forEach(client => {
                    let p = document.createElement('p');
                    p.textContent = `Id: ${client.id}, Login: ${client.login}, Email: ${client.email}`;
                    document.body.appendChild(p);
                });
            }
            xhr.send();
        })

    </script>
</body>
</html>
